# config | eloquent
FEATURE_FLAGS_DRIVER=config
# true | false
FEATURE_FLAGS_LOGGER=true
# path to custom rule file
FEATURE_FLAGS_CONFIG_PATH=assets/modules/feature_flags/config/my_rule.php
# item per page
FEATURE_FLAGS_STATISTICS_PER_PAGE=50
FEATURE_FLAGS_STATISTICS_MAX_PER_PAGE=200